<table class="table table-bordered tabla-alumnos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr [class.table-danger]="!esAprobado(nota.nota)" [class.table-success]="esAprobado(nota.nota)" *ngFor="let nota of notas">
      <td (click)="editarNota(nota)">{{nota.nombre}}</td>
      <td>{{nota.apellido}}</td>
      <td class="text-center">{{nota.nota}}</td>
      <td>
        <a href="#" class="borrar">
          <i class="fa fa-times-circle" (click)="borrar(nota.id, $event)"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
