<div class="container">
  <div class="row">
    <h2 *ngIf="nueva" class="col">Nueva nota</h2>
    <h2 *ngIf="!nueva" class="col">Editar nota</h2>
  </div>
  <div class="row">
    <div class="col">
      <p class="aviso" *ngIf="mostrarAviso">Se ha añadido la nueva nota</p>
      <form #formNuevaNota="ngForm" (ngSubmit)="submitForm(formNuevaNota)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" name="nombre" (ngModelChange)="cambiaNombreApellidos()" [(ngModel)]="nuevaNota.nombre" placeholder="Nombre del alumno"
            required #nombre="ngModel">
          <p class="error" *ngIf="nombre.invalid && nombre.dirty">Campo obligatorio</p>
          <p class="existe error" *ngIf="existe">El alumno ya existe</p>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" id="apellidos" class="form-control" name="apellidos" (ngModelChange)="cambiaNombreApellidos()" [(ngModel)]="nuevaNota.apellido"
            placeholder="Apellidos del alumno" required #apellidos="ngModel">
          <p class="error" *ngIf="apellidos.invalid && apellidos.dirty">Campo obligatorio</p>
          <p class="existe error" *ngIf="existe">El alumno ya existe</p>
        </div>
        <div class="form-group">
          <label for="nota">Nota</label>
          <input type="number" id="nota" class="form-control" name="nota" [(ngModel)]="nuevaNota.nota" placeholder="Nota" required
            #nota="ngModel">
          <p class="error" *ngIf="nota.invalid && nota.dirty">Campo obligatorio</p>
        </div>
        <div class="form-group">
          <label for="aula">Aula</label>
          <select id="aula" class="form-control" name="aula" [(ngModel)]="nuevaNota.aula" required #aula="ngModel">
            <option [value]="aulaSelect" *ngFor="let aulaSelect of ['a', 'b', 'c']">{{aulaSelect | uppercase}}</option>
          </select>
          <p class="error" *ngIf="aula.invalid && aula.dirty">Campo obligatorio</p>
        </div>
        <p>{{nuevaNota | json}}</p>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="formNuevaNota.invalid">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
