<main class="container">
  <div class="row">
    <notas-aula aula="a"></notas-aula>
    <notas-aula aula="b"></notas-aula>
    <notas-aula aula="c"></notas-aula>
  </div>
  <notas-general></notas-general>
</main>
<div class="loading" *ngIf="!cargado">
  <img src="/assets/loading.svg" alt="cargando">
</div>
