<div class="row totales">
  <div class="col">
    <div class="card">
      <div class="header">
        <h2>General</h2>
      </div>
      <div class="card-body row">
        <div class="col">
          <div class="card">
            <div class="card-header">Nota media</div>
            <div class="card-body numbers">4.5</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Máxima nota</div>
            <div class="card-body numbers">4.5</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Aprobados</div>
            <div class="card-body numbers">4 (30%)</div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Suspensos</div>
            <div class="card-body numbers">4 (30%)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
