<div class="form-anyadir card">
  <div class="row">
    <div class="col form-datos">
      {{nuevaNota.nombre}} {{nuevaNota.apellido}} {{nuevaNota.nota}}
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" (click)="anyadir()">añadir</button>
    </div>
  </div>
</div>
