<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Notas App</h1>
    </div>
    <span class="nav navbar-nav navbar-right titulo-seccion">
      Listado de notas
    </span>
    <div class="row">
      <nav>
        <ul class="list-unstyled list-inline">
          <li><a href="" [routerLink]="['notas']" [routerLinkActive]="['activo']" [routerLinkActiveOptions]="{exact: true}">Listado de notas</a></li>
          <li><a href="" [routerLink]="['notas/anyadir']" [routerLinkActive]="'activo'">Añadir nota</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
