<div class="card-footer totales">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Nota media</div>
        <div class="card-body numbers">{{notaMedia | decimales}}</div>
        <i class="fa icono-status" [ngClass]="clasesCarita(notaMedia)"></i>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Máxima nota</div>
        <div class="card-body numbers">{{notaMaxima}}</div>
        <i class="fa fa-frown icono-status icono-no-ok"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Aprobados</div>
        <div class="card-body numbers">{{numAprobados}} ({{porcentajeAprobados | decimales}}%)</div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Suspensos</div>
        <div class="card-body numbers">{{numSuspensos}} ({{porcentajeSuspensos | decimales}}%)</div>
      </div>
    </div>
  </div>
</div>
