<div class="col">
  <div class="card">
    <div class="header row">
      <h2 class="col-10">Aula {{aula | uppercase}}</h2>
      <div class="col-2 anyadir">
        <a href="#">
          <i class="fa fa-plus-circle" (click)="anyadirNota($event)"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <notas-nueva-nota *ngIf="mostrarFormulario" [aula]="aula" (cerrar)="cerrarFormulario($event)"></notas-nueva-nota>
      <notas-notas [aula]="aula"></notas-notas>
    </div>
    <notas-datos-aula [aula]="aula"></notas-datos-aula>
  </div>
</div>
